{% extends "base.html" %}


{% block encabezado %}
{% include "encabezado.html" %}

{% endblock %}

{% block contenido %}

<div class="tab-content">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form>
      
      <p class="text-center">REGISTRO DE USUARIOS</p>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="loginName" class="form-control" />
        <label class="form-label" for="loginName">Correo Electrónico</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="loginPassword" class="form-control" />
        <label class="form-label" for="loginPassword">Contraseña</label>
      </div>

    
      

      <!-- Submit button -->
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

      <!-- Register buttons -->
    </form> 
    
  </div>
</div>
<!-- Pills content -->
{% endblock %}


{% block pieDePagina %}
{% include "pieDePagina.html" %}
{% endblock %}